label#thumbnail {
    margin-bottom: 20px;
    border: 1px dashed #DDd;
    background-size: cover;
    cursor: pointer;
    display: flex;
    height: 160px;
    justify-content: center;
    align-items: center;
}

label#thumbnail input {
    display: none;
}

label#thumbnail.has-thumbnail {
    border: 0;

}

label#thumbnail.has-thumbnail img {
    display: none;
}

ul.notifications {
    list-style: none;
    margin-bottom: 15px;
}

ul.notifications li {
    font-size: 16px;
    line-height: 24px;
}

ul.notifications li button {
    margin-right: 10px;
    border: 0;
    font-weight: bold;
    margin-top: 10px;
    background-color: #FFF;
    cursor: pointer;
}

ul.notifications li button.accept {
    color: #84C870;
}

ul.notifications li button.reject {
    color: #E55E50;
}

